# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Log files
*.log

# macOS system files
.DS_Store

# Environment files
*.env
.env

# Virtual environments
venv/
myvenv/
heaven_venv/

# Interactive environment data
interp/

# Generated output files and directories
output/*

# JSON files
*.json
history.json

# History files
history/
history/history.json

# Editor and IDE specific files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
Thumbs.db
ehthumbs.db
desktop.ini