# Libraries for code interpretation and execution
litellm  
Pygments 
pyreadline 
python-dotenv 

# Libraries for making HTTP requests
Requests 
rich

# Libraries for image processing
pillow  # A library for image processing in Python

# Libraries for data analysis
pandas
matplotlib
plotly